html {
  min-height: 100%;
}
body, #root, .full {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background-color: rgb(234, 229, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav, footer {
  background-color: transparent;
}

nav, footer:hover {
  text-decoration: whitesmoke;
  background-color: darkgray;
}

footer{
  padding: 5px;

}


.point{
  cursor: pointer;
}

#avatar {
  max-height: 45vh;
  border-radius: 200px;
  border: none;
}

#resumeImg {
  
  max-height: 5vw;
} 

#skillCard {
  width: 30rem;
}

#contactBtn {
  background-color: #8658b9,
}

.my-border{
  border-radius: 20px;
  border: 3px solid black;
}

.p-image {
  /* max-height: 35vh; */
  max-width: 65vw;
  border: 3px solid black;
}

#aboutMe{
  max-width: 60vw;
}